* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.page{
    position: absolute;
    bottom: -50px;
    left: 50%;
}
.page button{
    background-color: rgb(141, 141, 214);
    width:20px;
    margin: 10px;
}
.Prices-range button{
    display:flex;
    background-color:#fff;
    border:none;
   
}