#main{
    width: calc(100% - 230px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 230px;
}
#main >div {
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid #c3c3c3;
    width: 23%;
    height: 320px;
    margin: 12px 0 0 20px;
  }
.ProcductDetail_img{
    display: flex;
    justify-content: center;
}


.ProcductDetail_title{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.ProcductDetail_ratings{
    margin-top: 24px;
    padding: 24px;
    display: flex;
    justify-content: space-between
}