body {
    font-family: Verdana, sans-serif;
  }
  a {
    color: #0063c3;
    text-decoration: none;
  }

  .transparent {
    opacity: 0;
  }
  .content-wrapper {
    margin: 0;
    min-width: 620px;
    position: relative;
    margin-bottom: 150px
  }
  header {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: #222f3f;
  }
  header .is-logo {
    float: left;
    margin-right: 12px;
  }
  header .logo {
    float: left;
    margin-right: 16px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  header .logo:hover {
    text-decoration: none;
  }
  header .input-group {
    float: left;
    width: 350px;
    height: 32px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
    display:flex;
  }
  header .input-group #input-search {
    border: 0;
    height: 100%;
  }
  header .input-group #input-search:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px #ffbe61;
  }
  header .input-group .input-group-btn button {
    height: 100%;
    padding: 0 30px;
    border: 0;
    background: #ffbe61;
  }